@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;

}
body {
    background-image: url(../IMG/fondoformulario.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

section{
    position: relative;
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

header{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color:beige;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(73, 120, 221);
    border-radius: 5px;
    padding:0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

header .logo:hover{
    color:  rgb(73, 120, 221);
    background:#fff;
    transition: 1s;

}

header .navbar{
    position:relative;
    display: flex;

}

header .navbar li{
    list-style: none;
    margin-left: 30px;
}

header .navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;

}

header .navbar li a:hover{
    border-bottom: 5px solid  rgb(73, 120, 221);
    padding: 2px;
} 

/*Contenido de la web*/
.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.contenido .tituloBox{
    position: relative;
    max-width: 600px;
    text-align: center;
}

.contenido .tituloBox h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color:white;
}

.contenido .tituloBox h2 span{
    background:  rgb(73, 120, 221);
    color: white;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 20px;  
}

.contenido .tituloBox b{
    font-size: 2.5em;
    line-height: 1.5;
    color:  rgb(73, 120, 221);
    background-color: #ffffff6c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.contenido .tituloBox a{
    text-decoration: none;
    text-transform: uppercase;
    color:  rgb(73, 120, 221);
    background: #fff;
    padding: 10px 20px;
    margin: left 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.contenido .tituloBox a:hover{
    color: #fff;
    background:  rgb(73, 120, 221);
    transition: 0.5s;
}


    
.contenido .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    z-index: -5;
}

.contenido .imgBox img{
    
    width: 450px;
    height: 450px;
    border-radius: 40%;
}

.contenido .imgBox img:hover{
    height: 80vh;
    
}

/*Copyright*/
.copyright{
    position: absolute;
    bottom: 0px;
    left: 700px;
    margin-bottom: 20px;
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: #fff;
    text-align: center;
    margin-left: 100px;

}

/*Redes sociales*/
.redesSociales{
    position: absolute;
    right: 65px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 20px;
    list-style: none;
}

.redesSociales li{
    padding: 10px;
}

.redesSociales li a{
    position: relative;
    color: #fff;
    font-size: 2.0em;
    transition: 0.3s;
}

.redesSociales li:hover a{
    color: rgb(73, 120, 221);
}
/******************************/
/*Quien soy*/
.quiensoy{
   
    height: 100vh; 
    justify-content: center; 
    align-items: center;    
}
 .quiensoy h1 {


   align-items: center;     
   margin-top: 0;
   color:#ffffff;
   text-align: center;
  
}
.soy-container{
        max-width: 600px;
        margin: 50px auto;
        background-color: rgb(73, 120, 221);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        font-size: 18px;
        text-align: center;

}


/*CV MELISSA*/

    body  {
        font-family: 'Segoe UI', sans-serif;
        margin: 0;
        padding: 0;
        
      }
      .cv{
        background-image: url(../IMG/fondoformulario.jpg);
      }
      
      .imagencurriculum{
          
         
          width: 750px;
          height: 750px;
          display: block;
          margin: 0 auto;

      }
      /*FORMULARIO CONTACTO*/

      body{
       
        font-family: 'Segoe UI', sans-serif;
        margin: 0;
        padding: 0;
      }

      .formulario{
        background-image: url(../IMG/fondoformulario.jpg);
        
      }
  
      .contact-container {
        max-width: 600px;
        margin: 50px auto;
        background-color: rgba(123, 185, 214, 0.867);
        padding: 30px;
        border-radius: 10px;
        border-color: #005f73;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
  
      h1 {
        text-align: center;
        color: #005f73;
      }
  
      form {
        display: flex;
        flex-direction: column;
      }
  
      label {
        margin-top: 15px;
        font-weight: bold;
      }
  
      input, textarea {
        margin-top: 5px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
      }
  
      button {
        margin-top: 20px;
        padding: 12px;
        background-color: #0a9396;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
  
      button:hover {
        background-color: #007f86;
      }

      /*PROYECTOS MELISSA*/
      
     body .proyecto {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .containerpr {
            text-align: center;
            background-color: rgb(96, 168, 207);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 80%;
            max-width: 600px;
            margin:auto;
        }
        .containerpr h1 {
            text-align: center;
            color: #333;
        }
        .containerpr ul {
            list-style-type: none;
            padding: 0;
        }
        .containerpr li {
            background-color: #bde3e4;
            border: 1px solid #c2edff;
            margin: 10px 0;
            padding: 10px;
            border-radius: 4px;
        }
        .containerpr li:hover {
            background-color: #e0e0e0;
        }
        .containerpr li a{
          color:#0a9396;
        }